<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/internal-head %>
  </head>

  <body>

    <% include ../partials/internal-header %>

    <div class="container">

      <div class="main-content">
        <section class="post-listing">
          <div class="row">

              <!-- No user data yet -->
              <% if( typeof users === 'undefined' ) { %>
              <h2>Sorry, no users have reported their status yet</h2>
              <% } else { %>

              <!-- User list -->
              <% users.forEach(function(user) { %>
                <article class="post-listing__listing-item">
                  <a href="/status/<%= user.id %>">
                    <div class="row">

                      <!-- User avatar -->
                      <div class="medium-2 columns text-center">
                        <img class="thumbnail post-listing__listing-item__thumbnail" src="<%= user.profile.image_192 %>">
                      </div>

                      <div class="medium-10 columns post-listing__listing-item__content">

                        <!-- User -->
                        <h2 class="post-listing__listing-item__entry-title entry-title">
                          <%= user.profile.first_name %> <% if(statuses[user.id] && statuses[user.id].status) {%>
                            is feeling  <span class="status-<%= statuses[user.id].status %>"><%= statuses[user.id].statusString %></span>
                          <% } else { %>
                            hasn't submitted any status yet
                          <% } %>
                        </h2>

                        <!-- User status detail -->
                        <p class="entry-summary">
                          <% if (statuses[user.id] && statuses[user.id].date) { %>
                            <span>Last reported:</span>
                            <abbr class="timeago" title="<%= statuses[user.id].date.toISOString() %>">
                              <%= statuses[user.id].date.getDate() %>.<%= statuses[user.id].date.getMonth() + 1 %>.<%= statuses[user.id].date.getFullYear() %>
                              <%= statuses[user.id].date.getHours() %>:<%= statuses[user.id].date.getMinutes() %>
                            </abbr>
                          <% } else { %>
                            The next time Oskar asks this user about his/her status, the feedback will show up here
                          <% } %>
                        </p>

                        <!-- User feedback -->
                        <div class="feedback-message">
                          <% if(statuses[user.id] && statuses[user.id].message) {%>
                            <%= statuses[user.id].message %>
                          <% } %>
                          <a class="send-msg" href="">Send message</a>
                          <form class="send-msg-form">
                            <input class="send-msg-form-userid" type="hidden" value="<%= user.id %>" />
                            <input class="send-msg-form-message" type="text" placeholder="Type your message to this user here..." />
                          </form>
                        </div>

                      </div>
                    </div>
                  </a>
                </article>
              <% }); %>

            <% } %>

          </div>
        </section>
      </div>

      <footer>
          <% include ../partials/internal-footer %>
      </footer>

    </div>

  </body>
</html>